@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";


* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
}